In [ ]:
#Following are the top 10 NASDAQ stocks which we are using 
#Apple (NASDAQ:AAPL)
#Microsoft (NASDAQ:MSFT)
#Amazon (NASDAQ:AMZN)
#Facebook (NASDAQ:FB)
#Alphabet Class C (NASDAQ:GOOG)
#Alphabet Class A (NASDAQ:GOOGL)
#Tesla (NASDAQ:TSLA)
#NVIDIA (NASDAQ:NVDA)
#PayPal Holdings (NASDAQ:PYPL)
#ASML Holdings (NASDAQ:ASML)

stocksList = ['AAPL', 'MSFT', 'AMZN', 'FB', 'GOOG', 'GOOGL', 'TSLA', 'NVDA', 'PYPL', 'ASML']

In [ ]:
import csv

with open(r'input later', 'w') as csvfile:
    # Here, you need to write headers:
    csvfile.write(stocksList)
    for url in urls:
        ISIN = url.split('=')[-1].replace(':', '_')
        ...  # The rest of your code
        df.to_csv(csvfile, index=False, header=False)

TypeError: ignored

In [ ]:
import urllib.request
import json

for stock in stocksList:
  url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol="+stock+"&outputsize=full&apikey=8U32SQR1ECDBFDJ8"  
  request = urllib.request.Request(url)
  request.add_header('api-key', '8U32SQR1ECDBFDJ8')

  response = urllib.request.urlopen(request)
  data = response.read()
  stocksData = json.loads(data.decode('utf-8'))\
  stocksData

SyntaxError: ignored

Indicators We will be using
RSI, MACD, MA

Apple (NASDAQ:AAPL)
Microsoft (NASDAQ:MSFT)
Amazon (NASDAQ:AMZN)
Facebook (NASDAQ:FB)
Alphabet Class C (NASDAQ:GOOG)
Alphabet Class A (NASDAQ:GOOGL)
Tesla (NASDAQ:TSLA)
NVIDIA (NASDAQ:NVDA)
PayPal Holdings (NASDAQ:PYPL)
ASML Holdings (NASDAQ:ASML)

In [ ]:
aaplData.keys()

dict_keys(['Meta Data', 'Time Series (Daily)'])

In [ ]:
aaplData['Meta Data']

{'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2022-03-30',
 '4. Output Size': 'Full size',
 '5. Time Zone': 'US/Eastern'}

In [ ]:
aaplData['Time Series'] = aaplData.pop('Time Series (Daily)')

In [ ]:
aaplData['Time Series']

In [ ]:
aaplData["Time Series"].keys()
count = 0
for i in aaplData['Time Series'].keys():
  if i == '2010-01-04':
    print(count)
  count += 1

3081

In [ ]:
import pandas as pd

aaplDF = pd.DataFrame(aaplData['Time Series']).transpose()

In [ ]:
aaplDF

             1. open   2. high    3. low  4. close  5. volume
2022-03-30  178.5500  179.6100  176.7000  177.7700   92633154
2022-03-29  176.6900  179.0100  176.3400  178.9600  100589440
2022-03-28  172.1700  175.7300  172.0000  175.6000   90371916
2022-03-25  173.8800  175.2800  172.7500  174.7200   80281664
2022-03-24  171.0600  174.1400  170.2100  174.0700   90131418
...              ...       ...       ...       ...        ...
1999-11-05   84.6200   88.3700   84.0000   88.3100    3721500
1999-11-04   82.0600   85.3700   80.6200   83.6200    3384700
1999-11-03   81.6200   83.2500   81.0000   81.5000    2932700
1999-11-02   78.0000   81.6900   77.3100   80.2500    3564600
1999-11-01   80.0000   80.6900   77.3700   77.6200    2487300

[5640 rows x 5 columns]

In [ ]:
list = []
for i in range(3071,len(aaplDF)):
  list.append(aaplDF.index[i])

In [ ]:
for i in list:
  aaplDF = aaplDF.drop(i)

In [ ]:
aaplDF

             1. open   2. high    3. low  4. close  5. volume
2022-03-30  178.5500  179.6100  176.7000  177.7700   92633154
2022-03-29  176.6900  179.0100  176.3400  178.9600  100589440
2022-03-28  172.1700  175.7300  172.0000  175.6000   90371916
2022-03-25  173.8800  175.2800  172.7500  174.7200   80281664
2022-03-24  171.0600  174.1400  170.2100  174.0700   90131418
...              ...       ...       ...       ...        ...
2010-01-26  205.9500  213.7100  202.5800  205.9400   66682500
2010-01-25  202.5100  204.7000  200.1900  203.0750   38060700
2010-01-22  206.7800  207.5000  197.1600  197.7500   31491700
2010-01-21  212.0800  213.3138  207.2100  208.0720   21719800
2010-01-20  214.9100  215.5500  209.5000  211.7250   21862600

[3071 rows x 5 columns]